*{
  margin: 0px auto;
  padding: 0px;
}

body{
  width: auto;
  font-family: "Cabin", sans-serif;
  height: 5500px;
}
header{
  width: auto;
  height: 90px;
  margin: 0px 150px 0px 150px;
}
div#body{
  margin: 0 150px 0 150px;
  width: auto;
  height: 1200px;
}
div#ib{
  background-color: #29A07E;
  width: auto;
  height: 10px;
  margin:0px;
  padding-bottom: 40px;
}
div#ib ul{
  float: left;
  list-style: none;
  margin-left: 150px;  
}
div#ib ul li{
  float: left;
  padding:14px 20px;
}
div#ib ul li a{
  font-size: 10px; 
  color: white;
  text-decoration: none;
}
div#ib div#login {
  float: right;
  font-size: 15px;
  margin: 4px 150px 4px 0;
  padding: 11px 14px;
  border: 1px solid white;
  border-radius: 50%;
  background: #29A07E;
}
div#ib div#login i{
  color: white;
  background-color: #29A07E;
}
div#ib div#login:hover{
  background-color:#d24141;
}
div#login div{
  color: black;
}
div#login div a{
  text-decoration: none;
  color: blue;
}
div#login div a:hover{
  color: red;
}
div #logo{
  width: 120px;
  height: 90px;
  float: left;
}
#logo img{
  width: 110px;
  height: 90px;
}
.thanh_tim{
  width: 500px;
  height: 40px;
  float: left;
  padding: 25px 0px 30px 30px;
}
.thanh_tim input[type=text]{
  width: 400px;
  height: 35px;
}
.thanh_tim button{
  height: 35px;
  width: 50px;
  margin-left: -4px;
  color: white;
  background-color: black;
}
                                      /* ======================== cần được sửa icon shopee */
#icon_shop{     
  height: 15px;
  width: 15px;
}
#sdt{
  width: 190px;
  float: left;
  padding: 35px 0px 30px 30px;
}
#sdt b{
  font-size: 30px;
  color: #29a07e;
}

/* Gio hang start */
.dropbtn {
  background-color:#29a07e;
  color: white;
  padding: 5px;
  font-size: 16px;
  border: none;
  margin: 35px 0 0 92px;
  border-radius: 10px;
}
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  width: 300px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  margin: 5px;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}
.dropdown:hover .dropdown-content {display: block;}
.dropdown:hover .dropbtn {background-color: #d24141;}

div#giohang{
  width: 280px;
  height:200px;
  overflow: scroll;
  padding: 20px 10px;
}

div#sp{
 width: 300px;
 float: left;
 margin: 15px 0;
}
div#sp img{
  width: 60px;
  float: left;
}
div#sp span{
  float: left;
  font-size: 15px;
  margin: 5px 0px 0px 10px;
}
div#sp p{
  float: left;
  font-size: 13px;
  color: #b2b2b2;
  margin: 20px 0 0 10px;
}
div#truy_cap{
  width: 300px; 
  float: left;
  margin: 10px 0;
}
div#truy_cap p{
  width: 250px;
  text-align: center;
  background-color: #d24141;
}
div#thanh_toan{
  width: 300px; 
  float: left;
  margin: 5px 0 10px 0;
}
div#thanh_toan p{
  width: 250px;
  text-align: center;
  background-color: #29a07e;
}

/* Login form star */
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
/* Set a style for all buttons */
button {
  border: none;
  cursor: pointer;
}
button:hover {
  opacity: 0.8;
  background-color: #d24141;
  
}
/* Extra styles for the cancel button */
.cancelbtn {
  width: 100px;
  padding: 10px 10px;
  margin-top: 16px;
  margin-bottom: 16px;
  background-color: #f44336;
}

/* Center the image and position the close button */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
}
.container{
  padding: 20px;
  color: blue;
}
.container h2{
  color: #000;
  padding-bottom: 15px;
}
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 60px;
}
/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close{
  position: absolute;
  right: -140px;
  top: -140px;;
  color: #000;
  font-size: 35px;
}

.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}
/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
}
  
@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}
/* Login form end */
nav{
  width: auto;
  height: 60px;
  padding: 10px 0;
  margin: 0px 150px 0px 150px;
}
nav ul{
  list-style: none;
background-color: #29A07E;
  width: auto;
  height: 40px;
  padding:20px 15px 0px 15px;
  border-radius: 10px;
  color: white;
}
nav ul li{
  float: left;
  margin-left: 10px;
  padding:0px 10px 0px 5px;
}
nav ul li a{
  font-size: 16px;
  text-decoration: none;
  font-weight: bold;
  color: white;
}
div#icon_menu{
  float: left;
}
article{
  width: auto;
  border: solid 3px;
  display: table-row;
  margin: 0 150px 0 150px;
}

aside#left{
  display:table-cell;
  /* border: solid 1px; */
  width: auto;
  margin: 10px 10px 10px 0px;
}

aside#right{
  display: table-cell;
  /* border: solid 3px brown; */
  width: auto;
}
section{
  display:table-cell;
  width: auto;
  /* border: solid 3px pink; */
}

/* Menu-vertical-left start*/
.menu-vertical-left{
  /* position: relative; */
  width: 200px; 
  text-align: left;
  margin: auto;
  border: 2px solid white;
  border-top-right-radius:5px;   
  border-bottom-right-radius:5px;
  float: left;
}
.menu-vertical-left ul {
  margin:0;
  padding:0;
  position: relative;
  list-style: none;
}
.menu-vertical-left ul li{
  position: relative;
  font-size: 13px;
}
.menu-vertical-left ul li a{
  display: block;
  position: relative;
  background:white;
  padding: 10px;
  text-decoration: none;
}
.menu-vertical-left ul li a:link , .menu-vertical-left ul li a:visited{
  color: black;
  border-bottom: 1px solid gray;
}
.menu-vertical-left ul li:hover>a{
  background:#3d8dc9;
  color:red;
  border-radius: 5px;
}
.menu-vertical-left ul li ul{
  position: absolute;
  left: -5000px;
  top: 0;
  width: 300px;
  visibility: hidden;
  box-shadow: 2px 2px 5px gray; 
}
.menu-vertical-left ul li:hover>ul{
  visibility: visible;
  left: 100%;
}
.menu-vertical-left ul li ul li{
  display:list-item;
  float: none;
}
.menu-vertical-left ul li ul li ul{
  top: 1;
  left: 100%;
}
.menu-vertical-left ul ul li:hover>a{
  background: white;
  border-radius: 5px;
}
.menu-vertical-left ul ul li:hover>ul{
  left: 100%;
}
.menu-vertical-left ul li ul li a{
  padding: 10px;
  margin: 0;
  background: white;
  border-right: none;
  border-top-width: 0;
}
.menu-vertical-left ul li>a{
  padding-right: 20px;
}
.menu-vertical-left ul li>a:only-child{
  padding-right: 10px;
}
.menu-vertical-left ul li>a::after{
  content: "";
  position: absolute;
  height: 0;
  width: 0;
  border: 5px solid transparent;
  border-left-color:white;
  top: 40%;
  right: 8px;
}
.menu-vertical-left ul li>a:only-child::after{
  display: none;
}
/* menu-vertical-left end */

/* img slideshow start */
div#img_slideshow img{
  width:580px;
  margin: 0 5px;
  height: 310px;
  float: left;
}
/* IMG right hover start */
aside#right div#img_right img{
  width:305px;
  height: 310px;
  float: left;
}
div#img_right{
  border: 1px solid white;
  overflow: hidden;
}
aside#right div#img_right img:hover{
  transform: scale(1.1);
  transition: transform .6s;
}
/* banner start*/
div#banner img{
  width: 785px;
  height: 100px;
  float: left;
  margin-top: 20px;
  padding-right: 10px;
}
/* aside right link ytb start*/
div#right_bottom{
  width: 300px;
  margin-top: 20px;
  float: left;
}
div#right_bottom p{
  text-align: center;
  padding-top: 5px;
  font-size: 20px;
  font-weight: bold;
  color: #29A07E;
}
div#right_bottom ul{
  width: 300px;
  float: left;
}
div#right_bottom ul li{
  padding: 10px 0;
  list-style: none;
  text-align: left;
}
div#right_bottom ul li img{
  width: 120px;
  float: left;
  padding-right: 10px;
}
div#right_bottom ul li a{
  text-decoration: none;
  color: black;
}
div#right_bottom ul li a:hover{
  color: #3d8dc9;
}
/* San pham hot vcl */
div#nav_sph{
  float: left;
  margin-top: -450px;
  border-bottom: 2px solid #29a07e;
  width: 780px;
  height: 30px;
  border-radius: 10px;
}
div#nav_sph p{
  border-radius: 20px;
  height: 31px;
  width: 150px;
  text-align: center;
  float: left;
  line-height: 33px;
  background-color: #29a07e;
  color: white;

}

div#sp_hot{
  margin: 130px 310px 0 0;
}
div#sp_hot_1 img{
  float: left;
  width: 330px;
  margin-top: -400px;
}
div#sp_hot_1 p{
  margin-top: -60px;
  float: left;
  font-size: 12px;
  padding-left: 20px;
}
div#sp_hot_1 span#cost_1{
  float: left;
  margin-top: -40px;
  font-size: 17px;
  font-weight: bold;
  margin-left: 110px;
  color: #29A07E;
}
div#sp_hot_1 span#bth_insert_1{
  border: 1px solid #29A07E;
  margin-top: -10px;
  padding: 5px;
  float: left;
  margin-left: 70px;
  border-radius: 1px;
  color: white;
  background-color: #29a07e;
  border-radius: 10px;
}
div#sp_hot_1 span#bth_insert_1:hover{
  background-color: #d24141;
}
diV#sp_hot_nor span#bth_insert_nor:hover{
  background-color: #d24141;
}
diV#sp_hot_nor2 span#bth_insert_nor2:hover{
  background-color: #d24141;
}
diV#sp_hot_nor3 span#bth_insert_nor3:hover{
  background-color: #d24141;
}
diV#sp_hot_nor4 span#bth_insert_nor4:hover{
  background-color: #d24141;
}
div#sp_hot_nor img{
  float: left;
  width: 100px;
  margin: -400px 30px 20px 180px;
}
div#sp_hot_nor p{
  margin-top: -300px;
  float: left;
  font-size: 9px;
  padding: 5px 0 0 7px;
  margin-left: 150px;
  text-align: center;
}
div#sp_hot_nor span#cost_nor{
  float: left;
  margin-top: -270px;
  font-size: 17px;
  font-weight: bold;
  margin-left: 190px;
  color: #29A07E;
}
div#sp_hot_nor span#bth_insert_nor{
  border: 1px solid #29A07E;
  margin-top: -240px;
  font-size: 11px;
  padding: 5px;
  float: left;
  margin-left: 170px;
  border-radius: 10px;
  background-color: #29A07E;
  color: white;
}

div#sp_hot_nor2 img{
  float: left;
  width: 100px;
  margin: -400px 30px 20px 380px;
}

div#sp_hot_nor2 p{
  margin-top: -300px;
  float: left;
  font-size: 9px;
  padding: 5px 0 0 18px;
  margin-left: 330px;
  text-align: center;
}
div#sp_hot_nor2 span#cost_nor2{
  float: left;
  margin-top: -270px;
  font-size: 17px;
  font-weight: bold;
  margin-left: 400px;
  color: #29A07E;
}
div#sp_hot_nor2 span#bth_insert_nor2{
  margin-top: -240px;
  font-size: 11px;
  padding: 5px;
  float: left;
  margin-left: 380px;
  border-radius: 10px;
  background-color: #29A07E;
  color: white;
}

div#sp_hot_nor3 img{
  float: left;
  width: 100px;
  margin: -170px 30px 20px 180px;
}
div#sp_hot_nor3 p{
  margin-top: -70px;
  float: left;
  font-size: 9px;
  padding: 5px 0 0 7px;
  margin-left: 150px;
  text-align: center;
}
div#sp_hot_nor3 span#cost_nor3{
  float: left;
  margin-top: -40px;
  font-size: 17px;
  font-weight: bold;
  margin-left: 190px;
  color: #29A07E;
}
div#sp_hot_nor3 span#bth_insert_nor3{
  border: 1px solid #29a07e;
  margin-top: -10px;
  font-size: 11px;
  padding: 5px;
  float: left;
  margin-left: 170px;
  border-radius: 10px;
  background-color: #29A07E;
  color: white;
}

div#sp_hot_nor4 img{
  float: left;
  width: 100px;
  margin: -185px 30px 20px 380px;
}
div#sp_hot_nor4 p{
  margin-top: -85px;
  float: left;
  font-size: 9px;
  padding: 5px 0 0 18px;
  margin-left: 330px;
  text-align: center;
}
div#sp_hot_nor4 span#cost_nor4{
  float: left;
  margin-top: -55px;
  font-size: 17px;
  font-weight: bold;
  margin-left: 400px;
  color: #29A07E;
}
div#sp_hot_nor4 span#bth_insert_nor4{
  border: 1px solid #29A07E;
  background-color: #29A07E;
  color: white;
  margin-top: -25px;
  font-size: 11px;
  padding: 5px;
  float: left;
  margin-left: 380px;
  border-radius: 10px;

}

/* footer start */
footer{
  margin-top: 3850px;
  width: auto;
  height:370px;
  background-color: #29A07E;
}
div#body_footer{
  margin: 0 150px;
  width: auto;
}
div#body_footer div#address{
  width: auto;
  float: left;
}
div#body_footer div#footer_icon img{
  width: 30px;
  height: 30px;
}

div#body_footer div#footer_icon{
  float: right;
}

div#body_footer div#in4_footer div#address p{
  font-size: 14px;
  color: white;
  font-weight: bold;
}

div#in4_footer{
  padding-top: 10px;
  border: #29A07E solid 2px; 
  height: 30px;
}
/* map && page start */
div#map_page{
  margin-top: 40px;
  background-color: #29A07E;
}
div#map_page p{
  padding-bottom: 5px;
  font-size: 15px;
  font-weight: bold;
  color: white;
}
div#map{
  float: left;
  width: auto;
}
div#map iframe{
  width: 500px;
  height: 262px;
  border: 1px solid blueviolet;
  
}
div#page iframe{
  width: 500px;
  height: 262px;
}
div#page{
  float: right;
  /* border: red solid 2px; */
  width: auto;
  overflow: hidden;
}
/* Fast chatting */
div#fast_ib{
  position:fixed;
  bottom: 10px;
  left: 0;
} 
div#zalo_chat{
  width: 70px;
  border: 1px solid #0c8800;
  margin-bottom: 5px;
  margin-left: 10px;
  padding: 5px;
  border-radius: 20px;
  background-color: #0c8800;
  color: white;
}
div#facebook_chat{
  width: 110px;
  border: 1px solid #29a07e;
  margin-bottom: 5px;
  margin-left: 10px;
  padding: 5px;
  border-radius: 20px;
  background-color: #29a07e;
  color: white;
}
div#hotline{
  width: 140px;
  border: 1px solid #df043e;
  margin-bottom: 5px;
  margin-left: 10px;
  padding: 5px;
  border-radius: 20px;
  background-color:#df043e;
  color: white;
}
/* back to top */
#btt {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 11px;
  border: 1px solid blue;
  outline: none;
  color: blue;
  cursor: pointer;
  padding: 10px 12px;
  border-radius: 20px;
}
#btt:hover {
  background-color:#d24141;
}

aside#left div.menu-vertical-left ul li img{
  vertical-align: middle;
}
                /* sản phẩm hiển thị body trang web */
div#san_pham{     
  border-bottom: #29a07e solid 2px;
  margin: 20px 0px 0px 0px;
  width: 1100px;
  height: 33px;
  float: left;
  color: white;
  border-radius: 20px;
  align-items: center;
}

div#title_product{
  width: auto;
  height: 34px;
  border: solid 1px;
  float: left;
  border-radius: 20px;
  background-color: #29a07e;
}

#title_product p{
  line-height: 33px;
}

#danh_muc{
  width: auto;
  float: left;
  margin-left: 30px;
}

#danh_muc ul{
  width: auto;
  height: 33px;
  float: left;
  margin-left: 100px;
}

#danh_muc ul li a{
  text-decoration: none;
  color: #29A07E;
  color: black;
}
#danh_muc ul li a:hover{
  color: blue;
}
#danh_muc ul li{
  list-style: none;
  float: left;
  margin:0px 10px 0px 10px;
  border: solid 1px;
  line-height: 27px;
}

#xem_tat_ca{
  width: auto;
  float: right;
  color: black;
  line-height: 29px;
}

#xem_tat_ca a{
  text-decoration: none;
}

#gian_hang{
  margin-top: 10px;
  float: left;
  width: auto;
  height: 730px;
}

#san_pham_body{
  width: auto;
  margin-top: 10px;
  float: left;
}

#buy_product{
  width: 200px;
  height: 300px;
  float: left;
  margin: 8.5px;
}

#buy_product #ten_san_pham{
  text-align: center;
  font-size: 13px;
  height: 55px;
  padding: 10px 15px 10px 15px;
  float: left;
  text-align: center;
  text-decoration: none;
}

#ten_san_pham:hover{
  color: #59c3da;
  font-size: 15px;
}

#buy_product #gia_san_pham{
  text-align: center;
  padding-top: 10px;
  color: #29a07e;
  font-weight: bolder;
}

#buy_product img{
  width: 150px;
  height: 150px;
  padding-left: 25px;
  border-radius: 11px;
}

#button_buy{
  border: #29a07e solid 1px;
  width: 126px;
  height: 30px;
  background-color: #29a07e;
  border-radius: 20px;
  margin-top: 10px;
}

#button_buy p{
  padding-top: 6px;
  color: white;
  text-align: center;
  font-size: 13px;
}
#button_buy:hover{
  background-color: #d24141;
}

    /* slideshow footer */

    .slideshow-container {
      width: 1110px;
      position: relative;
      margin: auto;
      height: 310px;
      float: left;
    }

    .mySlides img{
      height: 200px;
      width: 342px;
    }

    #footer_new{
      float: left;
      width: 342PX;
      margin-left: 10px;
      margin-right: 10px;
      box-shadow: 2px 2px #e7e9eb;
    }

    /* Ẩn các slider */
    .mySlides {
        display: none;
        float: left;
    }
    /* Định dạng nội dung Caption */
    .text {
      color: #f2f2f2;
      font-size: 15px;
      padding: 8px 12px;
      position: absolute;
      bottom: 8px;
      width: 100%;
      text-align: center;
    }
  
    /* định dạng các chấm chuyển đổi các slide */

    #text-dot{
      margin-left: 520px;
      float: left;
    }

    .dot {
      cursor:pointer;
      height: 13px;
      width: 13px;
      margin: 0 2px;
      background-color: #bbb;
      border-radius: 50%;
      display: inline-block;
      transition: background-color 0.6s ease;
      /* float: left; */
    }

    #text_footer{
      height: 50px;
      text-align: center;
    }

    #text_footer1{
      text-align: center;
    }

    /* khi được hover, active đổi màu nền */
    .active, .dot:hover {
      background-color: #717171;
    }
  
    /* Thêm hiệu ứng khi chuyển đổi các slide */
    .fade {
      -webkit-animation-name: fade;
      -webkit-animation-duration: 3s;
      animation-name: fade;
      animation-duration: 3s;
    }
  
    @-webkit-keyframes fade {
      from {opacity: .4} 
      to {opacity: 1}
    }
  
    @keyframes fade {
      from {opacity: .4} 
      to {opacity: 1}
    }